#welcome-section {
    height: 100%;
}

@media screen and (max-width: 600px) {
    #welcome-section {
        height: 100%;
    }
}

#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left : 0
}

.nnav{
    display: flex;
    margin : 2rem;
}