#welcome-section {
    height: 100vh;
}

@media screen and (max-width: 600px) {
    #welcome-section {
        height: 100vh;
    }
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }

  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }

#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left : 0
}

.nnav{
    display: flex;
    margin : 2rem;
}