@media screen and (max-width: 600px) {
    #welcome-section {
        height: 100vh;
    }
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

body{
    font-family: 'Quicksand';
}

#welcome-section {
    height: 100vh;
}

#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left : 0
}

#projects{
    display: flex;
    height: 300px;
    width: 300px;
    width: 100%;
    max-width: 100%;
}

.nnav{
    display: flex;
    margin : 2rem;
}

.project-tile {
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}